html {
	background-color: #b2b2b2; 
	background-image: url("image/image_2.png");
	background-repeat: no-repeat;
	background-position: 20px 10px;
	color: #fff;
	padding: 15px 20px 15px 50px;
} 

body {
	color: #888
	font-weight: 300 16px/22px "lato ", "open sans"
}
h1,
h3 {
	text-align: center;
	color: green;
	text-decoration: underline;
}

p{
	
	text-align: center;
}

.top {
	border-bottom-style: ridge;
	background-image: url("image/image_4");
	border-bottom: 13px;
	}

.end {
	border-top-style: ridge;
	margin-top: 20px;
}

.link {
	font-size: 16px;
	text-align: justify;
}

.container {
	background-image: url("image/image_11.png");
	padding-left:  50px;
	padding-right: 50px;
	font: "lobster";
}


.grid,
.col {
  padding-left: 15px;
  padding-right: 15px;
}

.col1,
.col2
.col3{
  display: inline-block;
  width: 33.33%;
}

